instructors
~*
datasets/nyc311/nyc311-2021.csv
docker/spark/work/solution-lab-D.ipynb
docker/spark/work/.ipynb_checkpoints
datasets/.minio.sys
datasets/labd/*
datasets/.minio.sys/buckets/.minio.sys
datasets/.minio.sys/buckets/.bloomcycle.bin
datasets/.minio.sys/buckets/.tracker.bin
datasets/.minio.sys/buckets/.usage-cache.bin
datasets/.minio.sys/buckets/.usage.json
datasets/.minio.sys/buckets/.minio.sys/buckets/.bloomcycle.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/.usage.json/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/clickstream/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/customers/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/demo-bucket/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/exam-scores/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/grades/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/json-samples/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/streaming/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/tweets/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/ufo-sightings/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/clickstream/.usage-cache.bin
datasets/.minio.sys/buckets/customers/.usage-cache.bin
datasets/.minio.sys/buckets/demo-bucket/.usage-cache.bin
datasets/.minio.sys/buckets/exam-scores/.usage-cache.bin
datasets/.minio.sys/buckets/grades/.usage-cache.bin
datasets/.minio.sys/buckets/json-samples/.usage-cache.bin
datasets/.minio.sys/buckets/streaming/.usage-cache.bin
datasets/.minio.sys/buckets/tweets/.usage-cache.bin
datasets/.minio.sys/buckets/ufo-sightings/.usage-cache.bin
datasets/customers/.ipynb_checkpoints/customers-checkpoint.csv
docker/elasticsearch/work/.ipynb_checkpoints/Elastic-checkpoint.ipynb
docker/mongodb/work/.ipynb_checkpoints/MongoDb-checkpoint.ipynb
datasets/.minio.sys/buckets/.bloomcycle.bin
datasets/.minio.sys/buckets/.tracker.bin
datasets/.minio.sys/buckets/.usage-cache.bin
datasets/.minio.sys/buckets/.usage.json
datasets/.minio.sys/buckets/.minio.sys/buckets/.bloomcycle.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/.usage.json/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/clickstream/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/customers/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/demo-bucket/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/exam-scores/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/grades/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/json-samples/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/streaming/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/tweets/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/.minio.sys/buckets/ufo-sightings/.usage-cache.bin/fs.json
datasets/.minio.sys/buckets/clickstream/.usage-cache.bin
datasets/.minio.sys/buckets/customers/.usage-cache.bin
datasets/.minio.sys/buckets/demo-bucket/.usage-cache.bin
datasets/.minio.sys/buckets/exam-scores/.usage-cache.bin
datasets/.minio.sys/buckets/grades/.usage-cache.bin
datasets/.minio.sys/buckets/json-samples/.usage-cache.bin
datasets/.minio.sys/buckets/streaming/.usage-cache.bin
datasets/.minio.sys/buckets/tweets/.usage-cache.bin
datasets/.minio.sys/buckets/ufo-sightings/.usage-cache.bin
docker/mongodb/work/.ipynb_checkpoints/MongoDb-checkpoint.ipynb
datasets/drill-demo/wine.json
